:root {
  --first-color: #D26901;
  --second-color: #1E1E1E;
  --third-color: #ffffff;
  --fourth-color: #fff6f2;
  --primary-text-color: #000000;
  --primary-border-color: #D26901;

  --large-padding: 3.125em;
  --normal-padding: 1.25em;
  --small-padding: .625em;
  --very-small-padding: .3125em
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--fourth-color);
  font-size: 1rem;
}

h1,
h2 {
  color: var(--first-color);
}

h1,
h2,
h3,
a,
button {
  font-family: var(--sansita-one-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
}

p {
  line-height: 1.8em;
}

/* Header component*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
  height: fit-content;
  border-bottom: 1px solid var(--primary-border-color);
  background-color: var(--fourth-color);
  position: relative;
  z-index: 99;
}

header button {
  width: 1rem;
  height: .2rem;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 2em;
  display: flex;
  justify-content: center;
  background-color: var(--primary-background-color);
  border: 1px solid #D26901;
}

header button:active {
  transform: translateY(1px);
  box-shadow: inset 0 0 3px var(--first-color);
}


header button::before {
  display: block;
  content: "";
  width: 1.5rem;
  height: .2rem;
  background-color: #D26901;
  position: absolute;
  bottom: 40%;
}

header button::after {
  display: block;
  content: "";
  width: 1.5rem;
  height: .2rem;
  background-color: #D26901;
  position: absolute;
  top: 40%;
}

/* Header component End*/
/* Nav component*/
nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

nav ul li {
  display: flex;
}

nav ul li a:hover {
  background-color: var(--first-color);
  color: var(--third-color);
}

nav a {
  text-decoration: none;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  height: fit-content;
  padding: 1.875em 1.25em;
  width: 100%;
}

.closed {
  display: none;
  position: absolute;
}

.open {
  display: block;
  position: absolute;
  z-index: 5;
  background-color: var(--fourth-color);
  animation: expand 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 100%;
}

@keyframes expand {
  from {
    transform: translateY(-40px);
  }

  to {
    transform: translateY(0px);
  }
}

/* Nav component End*/

@media (width > 600px) {
  body {
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto;
  }

  header {
    grid-column: 2/3;
  }

  nav {
    grid-column: 2/3;
  }
}